# We are on a parent project avoid the sub project directories
.DS_Store
**/.DS_Store

.tmp
**/.tmp

.git
**/.git

.settings
**/.settings

.project
**/.project

.idea
**/.idea

.classpath
**/.classpath

*.log
**/*.log

logs
**/logs

target
**/target

scripts/elasticMQ/**

**/sqs.properties
**/test-output
